In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv('/content/Preprocessing3.csv')
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Greenwich,NaN,5187000.0,?,Detached House,3,2,1026.0,1.025953,South
1,2009-01-02,2009,Norwalk,NaN,480000.0,Single Family,Detached House,3,2,1051.0,1.025953,West
2,2009-01-02,2009,Waterbury,57890.0,152000.0,Single Family,Detached House,3,2,943.0,1.025953,East
3,2009-01-02,2009,NaN,44520.0,60000.0,Single Family,Detached House,3,2,1099.0,1.025953,North
4,2009-01-03,2009,Bridgeport,91071.0,250000.0,Two Family,Duplex,4,2,1213.0,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,West Hartford,NaN,400000.0,Single Family,Detached House,3,3,1068.0,1.003979,East
9996,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9997,2022-09-30,2022,Fairfield,338100.0,549000.0,Single Family,Detached House,3,1,909.0,1.003979,East
9998,2022-09-30,2022,Bridgeport,161910.0,326000.0,Single Family,Detached House,3,1,922.0,1.003979,East
9999,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West

# MLP YYYY Term N OPPE

To be filled before the exam starts:

**Exam Name**: MLP OPPE

**Name of the student:** << Enter your full name>>

**Roll No. of the student:** << Enter your roll no.>>

**Date:** DD MM YYYY

### Q. 1: Which dataset are you using for Data Preprocessing Part?

Preprocessing3

### Q. 2:

In [24]:
df['Locality'].unique()

array(['Greenwich', 'Norwalk', 'Waterbury', nan, 'Bridgeport',
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

### Q. 3:

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8715 non-null   object
 3   Estimated Value    8719 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8718 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

### Q. 4:

In [26]:
df.isna().sum()

Date                    0
Year                    0
Locality             1285
Estimated Value      1281
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1282
property_tax_rate       0
Face                    0
dtype: int64

In [27]:
for column in ['Date', 'Locality', 'Property', 'Residential', 'Face']:
  print(df[column].unique())

['2009-01-02' '2009-01-03' '2009-01-04' ... '2022-09-28' '2022-09-29'
 '2022-09-30']
['Greenwich' 'Norwalk' 'Waterbury' nan 'Bridgeport' 'Fairfield'
 'West Hartford' 'Stamford']
['?' 'Single Family' 'Two Family' 'Three Family' 'Four Family']
['Detached House' 'Duplex' 'Triplex' 'Fourplex']
['South' 'West' 'East' 'North']

In [61]:
for column in df.columns:
  print(df[(df[column]=='?')])

Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
            Date  Year       Locality  Estimated Value  Sale Price Property  \
0     2009-01-02  2009      Greenwich              NaN   5187000.0        ?
5     2009-01-03  2009      Waterbury          68600.0    172000.0        ?
15    2009-01-05  2009     Bridgeport          72730.0    320000.0        ?
22    2009-01-08  2009      Waterbury              NaN    162000.0        ?
27    2009-01-10  2009     Bridgeport         211680.0    410000.0        ?
...          ...   ...            ...              ...         ...      ...
9980  2022-09-28  2022      Greenwich         822150.0   1050000.0        ?
9982  2022-09-28  2022      Fairfield         570150.0    855000.0        ?
9985  2022-09-28  2022     Bridgeport         101950.0    305000.0        ?
9986  2022-09-28  2022       Stamford              NaN    853000.0        ?
9990  2022-09-29  2022  West Hartford        1750000.0   1375000.0        ?

         Residential  num_rooms  num_bathrooms  carpet_area  \
0     Detached House          3              2       1026.0
5            Triplex          6              6       2185.0
15            Duplex          4              2       1328.0
22    Detached House          3              1       1055.0
27    Detached House          3              1        950.0
...              ...        ...            ...          ...
9980  Detached House          3              3        981.0
9982  Detached House          3              1       1094.0
9985          Duplex          4              3          NaN
9986        Fourplex          8              6          NaN
9990  Detached House          3              2       1061.0

      property_tax_rate   Face
0              1.025953  South
5              1.025953   West
15             1.025953  North
22             1.025953  South
27             1.025953  South
...                 ...    ...
9980           1.003979   West
9982           1.003979   West
9985           1.003979   West
9986           1.003979   East
9990           1.003979  North

[1873 rows x 12 columns]
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []
Empty DataFrame
Columns: [Date, Year, Locality, Estimated Value, Sale Price, Property, Residential, num_rooms, num_bathrooms, carpet_area, property_tax_rate, Face]
Index: []

In [28]:
df['Property'].unique()

array(['?', 'Single Family', 'Two Family', 'Three Family', 'Four Family'],
      dtype=object)

### Q. 5:
In the Year 2022, how many houses (rows) located in the Greenwich Locality have more than equal to 3 num_room, and facing towards either the North or East?

In [102]:
q5_1 = df[df['Locality']=='Greenwich'][df['Year']==2022][df['num_rooms']>2][df['Face']=='North']

<ipython-input-102-c6e3c409e182>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  q5_1 = df[df['Locality']=='Greenwich'][df['Year']==2022][df['num_rooms']>2][df['Face']=='North']

In [103]:
q5_2 = df[df['Locality']=='Greenwich'][df['Year']==2022][df['num_rooms']>2][df['Face']=='East']

<ipython-input-103-1312eed6bc88>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  q5_2 = df[df['Locality']=='Greenwich'][df['Year']==2022][df['num_rooms']>2][df['Face']=='East']

In [104]:
len(pd.concat([q5_1, q5_2]))

35

### Q. 6: Split the dataset into train dataset and test dataset in the following manner

1.data(rows) collected before the year of 2021 [2009-2020] should be the train dataset<br>
2.data(rows) collected in the year of 2021 and 2022 (both inclusive) should be the test dataset<br>
3.columns except of the label vector should be the feature matrix (X_train or X_test)<br>
4. make label vector (Y_train or y_test) containing values only from the target feature.

How many rows are in the feature matrix of the test dataset ?

In [53]:
X_train = df[(df['Year']<2021)].drop(['Sale Price'], axis=1)
X_train

,Date,Year,Locality,Estimated Value,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Greenwich,NaN,?,Detached House,3,2,1026.0,1.025953,South
1,2009-01-02,2009,Norwalk,NaN,Single Family,Detached House,3,2,1051.0,1.025953,West
2,2009-01-02,2009,Waterbury,57890.0,Single Family,Detached House,3,2,943.0,1.025953,East
3,2009-01-02,2009,NaN,44520.0,Single Family,Detached House,3,2,1099.0,1.025953,North
4,2009-01-03,2009,Bridgeport,91071.0,Two Family,Duplex,4,2,1213.0,1.025953,South
...,...,...,...,...,...,...,...,...,...,...,...
8267,2020-12-28,2020,Stamford,310790.0,Single Family,Detached House,3,3,991.0,1.025440,East
8268,2020-12-28,2020,Waterbury,70970.0,?,Detached House,3,1,1021.0,1.025440,West
8269,2020-12-31,2020,West Hartford,84630.0,Single Family,Detached House,3,2,NaN,1.025440,North
8270,2020-12-31,2020,Bridgeport,151500.0,Single Family,Detached House,3,2,NaN,1.025440,West
8271,2020-12-31,2020,Waterbury,NaN,Three Family,Triplex,6,6,1974.0,1.025440,East

In [54]:
y_train = df[(df['Year']<2021)]['Sale Price']
y_train

0       5187000.0
1        480000.0
2        152000.0
3         60000.0
4        250000.0
          ...
8267     433000.0
8268      47200.0
8269     110000.0
8270     274000.0
8271     195920.0
Name: Sale Price, Length: 8272, dtype: float64

In [59]:
X_test = df[(df['Year']==2021)|(df['Year']==2022)].drop(['Sale Price'], axis=1)
X_test

,Date,Year,Locality,Estimated Value,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
8272,2021-01-02,2021,Stamford,NaN,?,Detached House,3,1,960.0,1.023495,North
8273,2021-01-03,2021,NaN,189370.0,Single Family,Detached House,3,3,1094.0,1.023495,North
8274,2021-01-03,2021,Bridgeport,106580.0,Single Family,Detached House,3,2,NaN,1.023495,East
8275,2021-01-03,2021,Stamford,313090.0,Single Family,Detached House,3,2,931.0,1.023495,North
8276,2021-01-03,2021,Bridgeport,102790.0,Single Family,Detached House,3,1,905.0,1.023495,West
...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,West Hartford,NaN,Single Family,Detached House,3,3,1068.0,1.003979,East
9996,2022-09-30,2022,West Hartford,121870.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9997,2022-09-30,2022,Fairfield,338100.0,Single Family,Detached House,3,1,909.0,1.003979,East
9998,2022-09-30,2022,Bridgeport,161910.0,Single Family,Detached House,3,1,922.0,1.003979,East
9999,2022-09-30,2022,Norwalk,344270.0,Single Family,Detached House,3,3,NaN,1.003979,West

In [60]:
y_test = df[(df['Year']==2021)|(df['Year']==2022)]['Sale Price']
y_test

8272    675000.0
8273    383000.0
8274    239000.0
8275    455250.0
8276     21200.0
          ...
9995    400000.0
9996    235000.0
9997    549000.0
9998    326000.0
9999    512500.0
Name: Sale Price, Length: 1728, dtype: float64

### Q. 7: Rules for Imputing the missing(NaN) or unknown ("?") values:
compute the instructed statistical values for different columns in train dataset only to repalce missing(NaN) and unknown("?") values respectively.
Replace the missing(NaN) and unknown("?") values from the train and test dataset with the instructed statistical values computed using the train dataset only.<br>
Ignore the missing and unknown values while calculating the statistical values.<br>
Replace missing values(NaN) with the MOST FREQUENT value of the Locality feature<br>

Repalce missing values(NaN) with the MEDIAN value of the Estimated Value feature<br>

Replace missing values(NaN) with the MEAN value of the carpet_area feature<br>

Replace Unknown values("?") with the MOST FREQUENT value of the Property.<br>

Write the answers related to the above imputation in below questions respectively.



Write the MEAN value of the carpet_area column of the train dataset you found to replace all the Missing Values (NaN). (upto 2 digits after decimal points)

In [62]:
from sklearn.impute import SimpleImputer

In [63]:
loc = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [64]:
est = SimpleImputer(missing_values=np.nan, strategy='median')

In [65]:
carp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [66]:
pro = SimpleImputer(missing_values='?', strategy='most_frequent')

In [77]:
df['carpet_area'] = carp.fit_transform(pd.DataFrame(df['carpet_area']))
df['carpet_area']

0       1026.000000
1       1051.000000
2        943.000000
3       1099.000000
4       1213.000000
           ...
9995    1068.000000
9996    1087.000000
9997     909.000000
9998     922.000000
9999    1112.476715
Name: carpet_area, Length: 10000, dtype: float64

In [76]:
df['Property'] = pro.fit_transform(pd.DataFrame(df['Property']))
df['Property']

0       Single Family
1       Single Family
2       Single Family
3       Single Family
4          Two Family
            ...
9995    Single Family
9996    Single Family
9997    Single Family
9998    Single Family
9999    Single Family
Name: Property, Length: 10000, dtype: object

In [80]:
df['Estimated Value'] = est.fit_transform(pd.DataFrame(df['Estimated Value']))
df['Estimated Value']

0       230090.0
1       230090.0
2        57890.0
3        44520.0
4        91071.0
          ...
9995    230090.0
9996    121870.0
9997    338100.0
9998    161910.0
9999    344270.0
Name: Estimated Value, Length: 10000, dtype: float64

In [81]:
df['Locality'] = loc.fit_transform(pd.DataFrame(df['Locality']))
df['Locality']

0           Greenwich
1             Norwalk
2           Waterbury
3          Bridgeport
4          Bridgeport
            ...
9995    West Hartford
9996    West Hartford
9997        Fairfield
9998       Bridgeport
9999          Norwalk
Name: Locality, Length: 10000, dtype: object

### Q. 8:

### Q. 9: Apply preprocessing on features of train and test datasets.
Drop the 'Date' Column before the preprocessing steps.<br>
before applying any preprocessing there should not be any missing or unknown values present in the train and test dataset.<br>
fitting (learning) should be done only on train dataset.<br>
transform the test dataset using the fitting (learning) of train dataset
For Numerical Features<br>
Scale the numerical feature of the feature matrix using the Min-Max Scaler
For Categorical Features<br>
One-Hot Encode all categorical features(object columns) in the feature matrix
<br>
How many total features you got after one-hot encoding and scaling the training dataset?

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8715 non-null   object
 3   Estimated Value    8719 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8718 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [74]:
from sklearn.preprocessing import MinMaxScaler

In [75]:
scale = MinMaxScaler()

In [82]:
df.isna().sum()

Date                 0
Year                 0
Locality             0
Estimated Value      0
Sale Price           0
Property             0
Residential          0
num_rooms            0
num_bathrooms        0
carpet_area          0
property_tax_rate    0
Face                 0
dtype: int64

In [88]:
X_tran = scale.fit_transform(df.drop(['Date', 'Locality', 'Property', 'Residential', 'Face', 'Sale Price'], axis=1))
X_tran
df_X_tran = pd.DataFrame(X_tran, columns=['Year', 'Estimated Value', 'num_rooms', 'num_bathrooms', 'carpet_area', 'property_tax_rate'])
df_X_tran
# 'Year', 'Estimated Value', 'Sale Price', 'num_rooms', 'num_bathrooms', 'carpet_area', 'property_tax_rate'

,Year,Estimated Value,num_rooms,num_bathrooms,carpet_area,property_tax_rate
0,0.0,0.013532,0.0,0.142857,0.060316,0.052528
1,0.0,0.013532,0.0,0.142857,0.072283,0.052528
2,0.0,0.003405,0.0,0.142857,0.020584,0.052528
3,0.0,0.002618,0.0,0.142857,0.095261,0.052528
4,0.0,0.005356,0.2,0.142857,0.149832,0.052528
...,...,...,...,...,...,...
9995,1.0,0.013532,0.0,0.285714,0.080421,0.000000
9996,1.0,0.007167,0.0,0.142857,0.089517,0.000000
9997,1.0,0.019884,0.0,0.000000,0.004308,0.000000
9998,1.0,0.009522,0.0,0.000000,0.010531,0.000000
9999,1.0,0.020247,0.0,0.285714,0.101712,0.000000

In [89]:
df_X_tran['Date'] = df['Date']
df_X_tran['Locality'] = df['Locality']
df_X_tran['Property'] = df['Property']
df_X_tran['Residential'] = df['Residential']
df_X_tran['Face'] = df['Face']
df_X_tran['Sale Price'] = df['Sale Price']
df_X_tran

,Year,Estimated Value,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Date,Locality,Property,Residential,Face,Sale Price
0,0.0,0.013532,0.0,0.142857,0.060316,0.052528,2009-01-02,Greenwich,Single Family,Detached House,South,5187000.0
1,0.0,0.013532,0.0,0.142857,0.072283,0.052528,2009-01-02,Norwalk,Single Family,Detached House,West,480000.0
2,0.0,0.003405,0.0,0.142857,0.020584,0.052528,2009-01-02,Waterbury,Single Family,Detached House,East,152000.0
3,0.0,0.002618,0.0,0.142857,0.095261,0.052528,2009-01-02,Bridgeport,Single Family,Detached House,North,60000.0
4,0.0,0.005356,0.2,0.142857,0.149832,0.052528,2009-01-03,Bridgeport,Two Family,Duplex,South,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.013532,0.0,0.285714,0.080421,0.000000,2022-09-30,West Hartford,Single Family,Detached House,East,400000.0
9996,1.0,0.007167,0.0,0.142857,0.089517,0.000000,2022-09-30,West Hartford,Single Family,Detached House,South,235000.0
9997,1.0,0.019884,0.0,0.000000,0.004308,0.000000,2022-09-30,Fairfield,Single Family,Detached House,East,549000.0
9998,1.0,0.009522,0.0,0.000000,0.010531,0.000000,2022-09-30,Bridgeport,Single Family,Detached House,East,326000.0
9999,1.0,0.020247,0.0,0.285714,0.101712,0.000000,2022-09-30,Norwalk,Single Family,Detached House,West,512500.0

In [98]:
df_X_tran.columns

Index(['Year', 'Estimated Value', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Date', 'Locality', 'Property', 'Residential',
       'Face', 'Sale Price'],
      dtype='object')

In [90]:
from sklearn.preprocessing import OneHotEncoder

In [91]:
?OneHotEncoder

In [92]:
from sklearn.compose import ColumnTransformer

In [93]:
?ColumnTransformer

In [95]:
ct = ColumnTransformer(
     [("one_hot", OneHotEncoder(handle_unknown='ignore'), ['Locality', 'Property', 'Residential', 'Face'])], remainder='passthrough')

In [97]:
tr = ct.fit_transform(df_X_tran)

In [101]:
tr.shape

(10000, 27)

### Q. 10:

### Q. 11: Which dataset are you recieved for Model Building?

### Q. 12:

### Q. 13:

### Q. 14:

### Q. 15:

### Q. 16:

### Q. 17

### Q.18:

### Q.19:

### Q.20:

### Q.21:

### Q.22: